body {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(360deg, #FF717AFF -20%, #71C4FFFF 100%);
  background-repeat: no-repeat;
  min-height: 70rem;
  overflow-x: hidden;
}

.fav-meals-container {
  text-align: center;
  color: var(--secondary-clr);
  padding: 1rem;
}


.fav-meals {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.fav-meals-container h2 {
  font-weight: 700;
  text-shadow: 0 0 0.4rem var(--secondary-rgba-3);
  margin-bottom: 1rem;
  margin-top: 50px;
  font-size: 40px;
  color: crimson;
}

.single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  box-shadow: 0 0 0.5rem var(--secondary-rgba-3);
  position: relative;
  transition: 200ms ease-in-out background-color;
}

.single .top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.img-container {
  width: 120px;
  aspect-ratio: 1;
  margin-top: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: 0 0 0.4rem var(--secondary-rgba-3);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  margin: 0.5rem 0;
  color: orangered;
}

.text p {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0 0 0.3rem var(--secondary-rgba-3);
  padding: 0 0.5rem;
  user-select: none;
  transition: 200ms ease-in-out color;
}

.fa-x {
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 0;
  position: relative;
  top: 50px;
}

.fa-x:hover {
  background-color: crimson;
  color: black;
}

.single:hover {
  background: rgb(200, 209, 255);
  background: linear-gradient(302deg, rgba(200, 209, 255, 1) 3%, rgba(255, 212, 255, 1) 49%, rgba(123, 99, 245, 1) 100%);
}

.single:hover .img-container {
  box-shadow: 0 0 0.4rem var(--primary-rgba-7);
}

.single:hover .text p {
  color: var(--primary-clr);
  text-shadow: 0 0 0.2rem var(--primary-rgba-7);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}