* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vw;
}

/* Navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 20px;
}
.nav-container img{
    mix-blend-mode: color-burn;
}
.nav-container #meal-logo {
    width: 18%;
    height: 80px;
    padding: 5px;
    margin-left: 10px;
}
.nav-links a:hover {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(40deg, #FF71C1E8 3%, #71C4FFFF 100%);
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 5px;
    transform: scale(1.5);
    transition: all 0.2s ease;
    color: white;

}

.header-container .nav-links li {
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

:root {
    --primary-clr: #161616;
    --primary-rgba-7: rgba(0, 0, 0, 0.4);
    --secondary-clr: #fff9f9;
    --secondary-rgba: rgba(255, 255, 255, 0.3);
    --secondary-rgba-3: rgba(255, 255, 255, 0.3);
}

/* Meal Container CSS */
.meal {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.meals-container h2 {
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    color: black;
    font-size: 35px;
    margin-bottom: 1em;
    text-shadow: 0 0 0.4rem var(--secondary-rgba-3);
}

.meal-card {
    width: clamp(300px, 60vw, 400px);
    box-shadow: 0 0 0.4rem var(--secondary-rgba-3);
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    transition: 200ms ease-in-out background-color;
    border: 1px solid whitesmoke;
}

.meal-card:hover {
    transition: all 0.4s ease-in-out;
    transform: translateY(-10px);
}

.meal-card-img-container {
    width: 100%;
    height: 230px;
    cursor: pointer;
}

.meal-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meal-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    text-shadow: 0 0 0.3rem var(--secondary-rgba-3);
    transition: 200ms ease-in-out color, 200ms ease-in-out text-shadow;
}

.meal-name p {
    color: red;
    margin-left: 0rem;
}

.meal-name p:hover {
    color: black;
}

.meal-name i {
    color: #ff0000;
    text-shadow: none;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.meal-name i:hover {
    transform: scale(1.2);
    right: 0rem;
}

.meal-card:hover {
    background: rgb(255, 106, 171);
    background: radial-gradient(circle, rgba(255, 106, 171, 1) 5%, rgba(148, 187, 233, 1) 74%);
}

.meal-card:hover .meal-name {
    color: var(--primary-clr);
    text-shadow: 0 0 0.2rem green;
}

.recipe-link a {
    text-decoration: none;
}
.recipe-link a:hover{
    color: white;
}

.recipe-link a button {
    font-size: 20px;
    font-weight: 500;
    padding: 0.8rem;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 20px;
}
.recipe-link a button:hover{
    background-color: #ff0000;
    border: 2px solid white;
    color: white;
    transform: scaleX(1.2);
    transition: all 0.3s ease-in-out;
}

/* Meal Details Pop-up CSS */
.pop-up-container {
    position: fixed;
    inset: 0;
    background-color: var(--primary-rgba-7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

.pop-up {
    width: clamp(200px, 92vw, 900px);
    max-height: 90vh;
    box-shadow: 0 0 0.5rem var(--secondary-rgba-3);
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    padding: 4rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.pop-up-inner {
    display: flex;
    gap: 2rem;
}

.pop-up i {
    position: absolute;
    right: 18px;
    top: 20px;
    width: auto;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
}

.pop-up i:hover {
    background-color: white;
    color: red;
}
.pop-up .left i {
    display: none;
}

.right {
    overflow-y: scroll;
    max-height: 85vh;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

.right div {
    margin-bottom: 2rem;
}

.right ul li {
    padding-right: 2rem;
    list-style-position: inside;
}

.right .meal-info,
.right ul {
    margin-top: 0.5rem;
}
footer{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-shadow: 0px 0 3px #d07f7f;
    background-color: rgb(17, 15, 15);
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: red;
}
footer a:hover{
    text-decoration: underline;
    transition: all 1s ease-in;
}

/* Media Quires */
@media(max-width:400px){
    .nav-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-container #meal-logo{
        width: 65%;
    }
}